// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import '~bootswatch/dist/solar/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/solar/bootswatch';
@import '~bootstrap-vue/src/index';

// Navbar is fixed, so we have to give it a top padding
nav.navbar.fixed-top + main {
    padding-top: 5rem;
}
